/* ------------------------------- MAIN-CONTENT ------------------------------- */

.main-content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 16px;
  }