@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: orbitron;
  letter-spacing: 2px;
}

/* -------------------------------- TOPIC -------------------------------- */

.topic-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
  font-size: 1.875rem;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
}

